[submodule "themes/hugo-theme-chunky-poster"]
	path = themes/hugo-theme-chunky-poster
	url = https://github.com/andyjgao/hugo-theme-chunky-poster.git
[submodule "public"]
	path = public
	url = https://github.com/andyjgao/andyjgao.git
	branch = master